<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<link href="../../static/common/layui/css/layui.css" rel="stylesheet" media="all">
<style type="text/css">
     	/* .layui-table-cell {
		    height: 60px;
		    overflow: ;
		    text-overflow: inherit;
		    white-space: normal;
		} */
    </style>
<body>

	<div class="layui-row">
		<div class="layui-col-md1">&nbsp;</div>
		<input id="pageCount" type="" name="" style="display: none">
		<div id="baseList" class="layui-col-md10">
			 <div class="search_div" style="margin-top: 2%"> 
				<input type="text" name="" class="layui-input apiId" style="width: 15%;display: inline" placeholder="访问接口">
				<input type="text" name="" class="layui-input userId" style="width: 15%;display: inline" placeholder="访问用户">
				<button class="layui-btn search_base">搜索</button>

				<button  class="layui-btn btn_delsivenDay">删除N天前的接口日志</button>
			
			</div>

			<div id="base_table" class="layui-card" style="margin-top: 1%">
				<div class="layui-card-header"><p>接口访问列表</p></div>
				<div class="layui-card-body">
					<table id="body_list" lay-filter="body_list" style="table-layout:fixed;word-break:break-all;" >
						
					</table>
				</div>
			</div>


		</div>


	</div>

<script type="text/javascript" src="/static/common/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.md5.js"></script>
<script type="text/javascript" src="/static/console/js/common.js"></script>
<script type="text/javascript" src="/static/console/js/console_ui.js"></script>
<script type="text/javascript" src="/static/js/_coolchat-commons.js"></script>
<script type="text/javascript" src="/static/console/js/core.js"></script>
<script type="text/javascript" src="/static/console/js/tripledes.js"></script>
<!-- <script type="text/javascript" src="/static/console/js/sysapilog.js"></script> -->

<!-- <script type="text/javascript" src="/pages/js/console_init.js"></script> -->

<!-- 日期选择器 -->
<script>
	
	
	
	
var currentPageIndex;// 当前页码数
var currentCount;// 当前总数
var startTime;
var endTime;
layui.use(['form','layer','laydate','table','laytpl'],function(){
    var form = layui.form,
        layer = parent.layer === undefined ? layui.layer : top.layer,
        $ = layui.jquery,
        laydate = layui.laydate,
        laytpl = layui.laytpl,
        table = layui.table;

  
    
	  //列表
    var baseTable = table.render({
      elem: '#body_list'
      ,toolbar: '#toolbarConfigs'
      ,url:request("/console/sysapiList")
      ,id: 'body_list'
      ,page: true
      ,curr: 0
      ,limit:Common.limit
      ,limits:Common.limits
      ,groups: 7
      ,cols: [[ //表头
           //{type:'checkbox',fixed:'left'}// 多选
          //,
          {field: 'apiId', title: '接口名',width:360}
          ,{field: 'userId', title: '请求者id', width:125}
          ,{field: 'time', title: '请求时间', width:180,templet: function(d){
        		return  UI.getLocalTime(d.time);
          }}
          ,{field: 'fullUri', title: '请求参数', width:120}
          ,{field: 'userAgent', title: '设备信息',sort:'true', width:120}
          ,{field: 'clientIp', title: '客户端ip',sort:'true', width:120}
          ,{field: 'totalTime', title: '总耗时', width:80}
          ,{field: 'stackTrace', title: '异常', width:200}
          
        ]]
		  ,done:function(res, curr, count){
               if(count==0&&lock==1){
                 layer.msg("暂无数据",{"icon":2});
                 renderTable();
               }
//               $("table").css("width", "100%");    
               var tableWidth = layui.$('.layui-table-header').width();
               lock=0;
                $("#baseList").show();
                $("#base_table").show();
                $("#addConfig").hide();
               
                var pageIndex = baseTable.config.page.curr;//获取当前页码
                var resCount = res.count;// 获取table总条数
                currentCount = resCount;
                currentPageIndex = pageIndex;
		  }

    });

 
    //搜索用户
    $(".search_base").on("click",function(){
        // 关闭超出宽度的弹窗
        $(".layui-layer-content").remove();

        table.reload("body_list",{
            page: {
                curr: 1 //重新从第 1 页开始
            },
            where: {
            	apiId:$(".apiId").val(),// 
            	userId:$(".userId").val()?$(".userId").val():-1
            }
        })
        lock=1;
    });
    //删除一月之前的消息记录
    $(".btn_delsivenDay").on("click",function(){
    	

		  layer.prompt({title: '请输入天数', formType: 0,value: '3'}, function(days, index){
          // 充值金额（正整数）的正则校验
			
				Common.invoke({
				      path : request('/console/delsysapi'),
				      data : {
				    	  days:days
				      },
				      successMsg : "成功",
				      errorMsg :  "失败，请稍后重试",
				      successCb : function(result) {
				        var data = result.data; //DataSort(result.data);
				      	layer.close(index); //关闭弹框
				      	renderTable();
				      },
				      errorCb : function(result) {

				      }
			    });

		  });
    	
	/* 	$.ajax({
			type:'POST',
			url:'/console/delsysapi',
			data:{},
			dataType:'json',
			async:false,
			success:function(result){
				if(result.code==1){
					layer.msg("删除成功",{"icon":2});
				}

			}
		})
    	renderTable(); */
    });
    
})


   //重新渲染表单
function renderTable(){
  layui.use('table', function(){
   var table = layui.table;//高版本建议把括号去掉，有的低版本，需要加()
   // table.reload("user_list");
   table.reload("body_list",{
        page: {
            curr: 1 //重新从第 1 页开始
        },
        where: {
        	apiId:$(".apiId").val()
        }
    })
  });
 }

</script>

</body>
</html>