<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
</head>
<link href="../../static/common/layui/css/layui.css" rel="stylesheet" media="all">
<style type="text/css">
     	.layui-table-cell {
		    height: auto;
		}
		.laytable-cell-1-11{
		white-space: normal;
		}
    </style>
<body>

	<div class="layui-row">
		<div class="layui-col-md1">&nbsp;</div>
		<input id="pageCount" type="" name="" style="display: none">
		<div id="baseList" class="layui-col-md10">
			 <div class="search_div" style="margin-top: 2%"> 
				<input type="text" name="" class="layui-input nickName" style="width: 15%;display: inline" placeholder="用户昵称">
		 		<form class="layui-form" action="" style="float: left">
					<div class="layui-form-item">
						<select id="online" class="layui-select">
							<option value="">请选择在线状态</option>
							<option value="1">在线</option>
							<option value="0">离线</option>
							<option value="2">注销</option>
							<option value="3">未注销</option>
						</select>
					</div>
				</form> 

				<button class="layui-btn search_base">搜索</button>
				<button onclick="Base.add()" class="layui-btn btn_add">新增用户</button>
				
			</div>

			<div id="base_table" class="layui-card" style="margin-top: 1%">
				<div class="layui-card-header"><p>用户列表</p></div>
				<div class="layui-card-body">
					<table id="body_list" lay-filter="body_list" style="table-layout:fixed;word-break:break-all;" >
						
					</table>
				</div>
			</div>

			<!-- 多选操作 
			<script type="text/html" id="toolbarConfigs">
				<div class="layui-btn-container">
					<button id="checkDeleteIds" class="layui-btn layui-btn-sm checkDeletes" onclick="Base.checkDeletes()" lay-event="delete">多选删除</button>
				</div>
			</script>-->
	
			<!--操作-->
			<script type="text/html" id="baseListBar">
							
				<div class="" height="" style="white-space: normal;">
			{{#  if(d.disableUser == -1){ }}
				<a class="layui-btn layui-btn-disabled layui-btn-xs undelete" lay-event="undelete">解禁</a>
			{{#  }else{  }}
				<a class="layui-btn layui-btn-danger layui-btn-xs delete" lay-event="delete">禁用</a>
			{{#  } }}
						
				<a class="layui-btn layui-btn-primary layui-btn-xs update" lay-event="update" style="margin-left: 0px;">修改</a>
				<a class="layui-btn layui-btn-primary layui-btn-xs sendMsg" lay-event="sendMsg">发送消息</a>
				<a class="layui-btn layui-btn-primary layui-btn-xs inTeam" lay-event="inTeam" style="margin-left: 0px;">所在群</a>
				<a class="layui-btn layui-btn-primary layui-btn-xs bill" lay-event="bill" style="margin-left: 0px;">账单</a>
				<a class="layui-btn layui-btn-primary layui-btn-xs recharge" lay-event="recharge" style="margin-left: 0px;">充值/扣除</a>
				
		</div>
			</script>

		</div>

		<!-- 添加 -->
		<div id="addConfig" class="layui-col-md10" style="display: none">
			<div id="addConfigTitle" class="layui-card-header">新增</div>
			<table class="layui-table">
				<thead>
					<tr>
						<td width="20%">用户信息</td>
						<td>用户信息</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>用户昵称</td>
						<td><input id="userId" type="" name="" style="display: none"><input id="accid" type="" name="" style="display: none"><input id="name" type="" name="" class="layui-input" ></td>
					</tr>
					<tr>
						<td>手机号码</td>
						<td><input id="mobile" type="" name="" class="layui-input"></td>
					</tr>
					<tr class="password">
						<td color="red">密码(修改之后将重置,不修改请置空)</td>
						<td><input id="password" type="" name="" class="layui-input"></td>
					</tr>
					<tr>
						<td>出生日期</td>
						<td>
							<div class="layui-form">
								<div class="layui-input-inline">
									<input class="layui-input" id="birth" placeholder="yyyy-MM-dd HH:mm:ss" type="text">
								</div>
							</div>
						</td>

					</tr>
					<tr>
						<td>性别</td>
						<td>
							<form class="layui-form" action="" style="">
								<div class="layui-form-item">
									<select id="gender" class="layui-select" style="width: 100%">
										<option selected="selected" value="">请选择</option>
										<option value="2">女</option>
										<option value="1">男</option>
									</select>
								</div>
							</form>
						</td>
					</tr>
			<!-- 		<tr>
						<td>是否设置为公众号</td>
						<td>
							<form class="layui-form" action="" style="">
								<div class="layui-form-item">
									<select id="isPublic" class="layui-select" style="width: 100%">
										<option selected="selected" value="">请选择</option>
										<option value="0">否</option>
										<option value="2">是</option>
										<option value="1">否</option>
									</select>
								</div>
							</form>
						</td>
					</tr> -->
				
				</tbody>
			</table>
			
			<div style="display: inline;">
				<button onclick="Base.commit_add()" class="layui-btn">提交</button>
				<button onclick="Base.button_back()" class="layui-btn layui-btn-primary layui-btn-sm" style="">&lt;&lt;返回</button>
			</div>
		</div>


	</div>

<script type="text/javascript" src="/static/common/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/layui/layui.all.js"></script>
<script type="text/javascript" src="/static/assets/js/jquery.md5.js"></script>
<script type="text/javascript" src="/static/console/js/common.js"></script>
<script type="text/javascript" src="/static/console/js/console_ui.js"></script>
<script type="text/javascript" src="/static/js/_coolchat-commons.js"></script>
<script type="text/javascript" src="/static/console/js/core.js"></script>
<script type="text/javascript" src="/static/console/js/tripledes.js"></script>
<script type="text/javascript" src="/static/console/js/userList.js"></script>

<!-- <script type="text/javascript" src="/pages/js/console_init.js"></script> -->

<!-- 日期选择器 -->
<script>
	layui.use('laydate', function() {
		var laydate = layui.laydate;
        //日期时间选择器
        laydate.render({
            elem: '#birth'
            ,type: 'date'
			,max: 0 //最大时间
        });
	})

</script>

</body>
</html>