<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>线路1</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
	</head>

	<body>
		<script src="js/mui.min.js"></script>

		
		
			<div class="mui-content"  style="margin-top: 30px;">
			<div class="title" id="btsearch">
				<div class="mui-input-row">
				<input id='phone' type="text" class=" mui-input" placeholder="请输入手机号" style="width: 80%;">	
				<button type="button"  class="mui-btn mui-btn-primary mui-icon mui-icon-search btsearch" style="margin-right: 12px;">
		            		搜索
		        </button>
				</div>
			</div>
			<ul class="mui-table-view" id="plist">
				<!--<li class="mui-table-view-cell"><span id="">2.3</span>-<span id="">完成</span></li>
				<li class="mui-table-view-cell"><span id="">2.3</span>-<span id="">完成</span></li>
				<li class="mui-table-view-cell"><span id="">2.3</span>-<span id="">完成</span></li>-->
		         <!-- <li class="mui-table-view-cell">Item 2</li>
		         <li class="mui-table-view-cell">Item 3</li>-->
			</ul>
		
			</div>
			
	<script>
		(function($, doc) {
				$.init({
					statusBarBackground: '#f7f7f7'
				});
//				function enterSearch(e) {  
//				    if(e.keyCode == 13) {  
//				        $("#searchInput").blur();  
//				       
//				    }  
//				};
				$('#btsearch').on('click','.btsearch', function() {
					
					if(!$('#phone')[0].value){
						mui.toast("手机号不能为空")
						return;
					}
		
		/* 			$.ajax("http://47.106.76.245:8011/info/getListv1",{
						dataType:'jsonp',
		  				type:'post',
					  	timeout:10000,
					  	xhrFields:{
					        withCredentials:true
					    },
					  	data: {
							phone: $('#phone')[0].value
						},
						jsonp: "jsoncallback",
						success: function(data){ */
				$.ajax({
					type:'get',
					url:'/info/getListv1',
					data:{
						phone: $('#phone')[0].value
					},
					dataType:'json',
					async:false,
					success: function(data){		
						if(data.code==1){
							var el='';
							for(var i=0;i<data.data.length;i++){
								el+='<li class="mui-table-view-cell"><span id="">金额：'+data.data[i].money+'</span><br><span id="">状态：'+getString(data.data[i].state)+'</span></li>';
							}
							
							$('#plist')[0].innerHTML=el;
						}
						
							
						},
						error:function(data){
						console.log(data)
						}
						});
					});
		
		function getString(state){
			if(state==1){
				return "完成";
		
			}else{
				return "未完成";
			}
		}
				
			}(mui, document));
		</script>
		
	</body>

</html>